<div class="weather-info">
    <div class="city"> {{ weatherData.city.name }} </div>
    <div class="weekday"> {{ weekday }} </div>
    <div class="sunrise">Sunrise: {{ weatherData.city.sunrise | dateFormat : "HH:mm" }} </div>
    <div class="sunset">Sunset: {{ weatherData.city.sunset | dateFormat : "HH:mm" }} </div>
    <div class="cards-container">
        <app-weather-card *ngFor="let weatherCard of weatherData.list" [timeStamp]='weatherCard.dt'
            [temp]='weatherCard.main.temp' [iconCode]='weatherCard.weather[0].icon'>
        </app-weather-card>
    </div>
</div>